body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

body * {
  box-sizing: border-box;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div#step-1 {
  align-items: flex-start;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

h2.title {
  margin-top: 1rem;
}

p {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

span {
  font-style: italic;
}

img.example-image {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

button#start {
  margin-top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.flex-grow {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: auto;
  height: calc(100vh - 100px);
  width: 80vw;
}

.transaction {
  width: 100%;
}

.transaction__currency {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.transaction__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  font-weight: bold;
}

.transaction__header span {
  font-style: normal;
}

.transaction__header span.date {
  width: 15%;
}

.transaction__header span {
  width: calc(85% * 0.15);
}

.transaction__date-set {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}

.transaction__date-set:not(:first-of-type) {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

.transaction__date {
  width: 15%;
  align-items: flex-start;
}

.transaction__date-set-rows {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 85%;
}

.transaction__date-set-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  font-size: 16px;
}

.transaction__date-set-row span {
  text-align: left;
  font-style: normal;
}

.transaction__date-set-row span.side {
  width: 15%;
}

.transaction__date-set-row span.amount {
  width: 15%;
}

.transaction__date-set-row span.cost {
  width: 15%;
}

.transaction__date-set-row span.balance {
  width: 15%;
}

.transaction__date-set-row span.gain {
  width: 40%;
}

.red {
  color: red;
}

.green {
  color: green;
}