body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

body * {
  box-sizing: border-box;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div#step-1 {
  align-items: flex-start;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

h2.title {
  margin-top: 1rem;
}

p {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

span {
  font-style: italic;
}

img.example-image {
  margin-bottom: 1rem;
}

.hidden {
  display: none;
}

button#start {
  margin-top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.flex-grow {
  justify-content: flex-start;
  align-items: flex-start;
  width: 80vw;
  height: calc(100vh - 100px);
  overflow-y: auto;
}

.bsdg {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.bsdg__side {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  flex-direction: row;
  width: 100%;
}

.bsdg__side-left {
  width: 15%;
}

.bsdg__side-right {
  width: 85%;
}

.bsdg__side-right-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.bsdg__side-right-group:not(:last-of-type) {
  border-bottom: 1px solid #282828;
}